@model Ecom.Shared.CommonService.Dtos.CouponDto
@{
    Layout = null;
}
<div class="row">
    <form asp-action="DoCreate" id="createCouponForm">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger d-none" role="alert"></div>
        <input asp-for="CouponId" hidden/>
            <div class="mb-3">
            <label>Coupon Code</label>
            <input asp-for="CouponCode" class="form-control" placeholder="Enter coupon code" required />
                <span asp-validation-for="CouponCode" class="text-danger small"></span>
            </div>

            <div class="mb-3">
            <label>DiscountAmount</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                    <input asp-for="DiscountAmount" class="form-control" placeholder="Enter discount amount" required/>
                </div>
                <span asp-validation-for="DiscountAmount" class="text-danger small"></span>
            </div>

            <div class="mb-4">
            <label>Minimun Amount</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                <input asp-for="MinAmount" class="form-control" placeholder="Minimum order amount" required />
                </div>
                <span asp-validation-for="MinAmount" class="text-danger small"></span>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary px-4">
                    <i class="bi bi-save"></i> Save
                </button>
                <button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
            </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
